
<div class="row" *ngIf="afService.af.auth">
<div class="col-4">
<h2>List of users</h2>
<div *ngFor="let user of users | async">

    </div>
<div class="list-group" *ngFor="let user of users | async">
  		<a *ngIf="user.email != currentUser.email"
  				[ngClass]="processClasses(user)" class="list-group-item list-group-item-action" (click)="onSelect(user)">
  				<i class="fa fa-circle" [ngClass]="user.status" aria-hidden="true"></i>&nbsp;&nbsp;{{user.displayName}}
  				<small class="text-muted">&nbsp;-&nbsp;({{user.status}})</small>
  				</a>
</div>
</div>
<div class ="col">
	<chat-room *ngIf="selectedUser" [user]="selectedUser"></chat-room>	
</div>
</div>