<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   		 <span class="navbar-toggler-icon"></span>
  	</button>
  	<a class="navbar-brand" href="#">{{title}}</a> 
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav mr-auto">
	</ul>
	<ul class="navbar-nav">
      <li class="nav-item" *ngIf="!auth.authenticated()">
        <button type="button" class="btn btn-info" (click)="auth.login()" >
        <i class="fa fa-sign-in" aria-hidden="true"></i> Log In</button>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated() && auth.loggedInUser">
      	<span class="navbar-text">
	      Welcome, {{auth.loggedInUser.given_name?auth.loggedInUser.given_name:auth.loggedInUser.nickname | uppercase}}!! 
	    </span>
        <button class="btn btn-info" (click)="auth.logout()">Log Out</button>
      </li>
    </ul>
    </div> 
</nav>
<div class ="container-fluid">
	<div class="row justify-content-center" *ngIf="!auth.authenticated()">
		<div class = "col col-md-auto gchat-mask" >
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
		Please <button type="button" class="btn btn-link gchat-login" (click)="auth.login()">login</button>to connect !!</div>
	</div> 
	<div class="row" *ngIf="auth.authenticated() && auth.loggedInUser"> 
		<div class = "col-xs-12 col-md-4 col-lg-3" ><h2></h2>
			<user-profile [user]="auth.loggedInUser">Initializing user profile..Please wait</user-profile>
		</div>
		
		<div class="col-xs-12 col-md-8 col-lg-9" *ngIf="auth.isLoggedIn" >
			<chat-users [currentUser]="auth.loggedInUser">Initializing Contact List..Please wait</chat-users>
		</div>
		<div class="col-xs-12 col-md-8 col-lg-9" *ngIf="!auth.isLoggedIn" >
			Please wait while we set up chat services.. This may take a while.. Please hang on..
		</div>
	</div>
</div>